@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodycolor: #ddd;
  --fontcolor: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bodycolor: #212121;
    --fontcolor: #fff;
  }
}

body {
  background-color: var(--bodycolor);
  color: var(--fontcolor);
}